/IA1905_List/nbproject/private/
/StudentManager/nbproject/private/
/StudentManager/build/
/LAB_SelectionSort/nbproject/private/
/LAB_SelectionSort/build/
/Tree/nbproject/private/
/Tree/build/
/CheckBalanceTree/nbproject/private/
/CheckBalanceTree/build/
/CSD_Assignment2/nbproject/private/
/CSD_Assignment2/build/
/CSD_17_2/nbproject/private/
/BookManagement/nbproject/private/
/StudentManagementTree/nbproject/private/
/StudentManagementTree/build/
/StudentManagementTree/dist/
/SM/nbproject/private/
/SM/build/
/KimMinhDuc/nbproject/private/
/KimMinhDuc/build/
/KimMinhDuc/dist/
/duckmhe181371_ia1905/build/
/duckmhe181371_ia1905/dist/
/duckmhe181371_ia1905/nbproject/private/
/Duckmhe181371_HE181371_IA1905/build/
/Duckmhe181371_HE181371_IA1905/dist/
/Duckmhe181371_HE181371_IA1905/nbproject/private/
/ASS2/nbproject/private/